/* this css module defines the style of painting components */
.container {
  background: #fafcfe;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  align-items: center;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  padding-left: 5em;
  padding-right: 3em;
}

.number {
  min-width: 2em;
  max-width: 3em;
  text-align: center;
  font-size: 150%;
  font-weight: 800;
}

.content {
  flex: auto;
}

.keyValues {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;
}

.zustand {
  font-size: 150%;
  font-weight: 800;
}

@media screen and (min-width: 780px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 1em;
    padding-right: 1em;
  }
}
